# Игнор-лист файлов проекта
# Игнорировать ВСЕ файлы и директории, включая поддиректории и файлы в них
*
# ---- ФАЙЛЫ ----

# Игнорирование по типу файла, будут игнорироваться в АБСОЛЮТНО всех директориях

*.bak
*.iml

# ---- ДИРЕКТОРИИ ----

# Игнорирование всех файлов и папок ТОЛЬКО в конкретной директории(включая поддиректории и файлы в них)

/.idea/*
/__pycache__/*
